#container
	header
		a.logout(href="/logout") Logout


		div.dropdown-room
			span.dropdown
			a(href="#").current= room_name
			each room,index in rooms	
				-if(room != room_id){
					li
						a(href="/room/"+room)= index
				-}
		
		div.logged-box
			img.avatar(src=" http://img.tweetimag.es/i/"+username)
			span.logged-as Logged in as:
			span.username= username

	ul.chat-list
		-user_list.forEach(function(username){
			li
				.status-bar
					span.status.available
				.user-space
					img.avatar(src=" http://img.tweetimag.es/i/"+username)
					span.username= username
		-});

	div#main.content(role="main")
		div.chats
			div.chat-box

		div.type-message
			div.user
				img.avatar(src="http://img.tweetimag.es/i/"+username)
				a(href="#")

			textarea#msgbox(name="Name",rows="8",cols="40")

	footer

	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
	script()
		window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
		
	script(defer,src="/js/plugins.js")
	script(defer,src="/js/script.js")				
	
	script()
		// Change UA-XXXXX-X to be your site's ID
		window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
			load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});

	//if lt IE 7
		html.no-js.ie6.oldie(lang="en")
			script(src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
			script()
				window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})


ul.user_list


ul.log


p
	input#msgbox(type='text')
p
	button#msgbutton Enviar mensaje

span#room_id(style="display:none")= room_name
span#username(style="display:none")= username
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
script(src="/socket.io/socket.io.js")
script()
	$(document).ready(function(){
		var socket = io.connect('htlentp://localhost');
		socket.emit('set nickname',{room_id:$('#room_id').text(),'nickname':$('#username').text()});	
		
		socket.on('new user',function(data){
			$('.chat-list').append('<li><div class="status-bar"><span class="status available"></span></div><div class="user-space"><img src="http://img.tweetimag.es/i/'+data.nickname+'"+username class="avatar"><span class="username">'+data.nickname+'</span></div></li>');
		});

		socket.on('ready',function(data){
			$.each(data.user_list,function(k,v){
				$('.chat-list').append('<li><div class="status-bar"><span class="status available"></span></div><div class="user-space"><img src="http://img.tweetimag.es/i/"+v class="avatar"><span class="username">'+v+'</span></div></li>');
			});
		});

		socket.on('new msg',function(data){
			var usrname = $('.message-box').last().children('.username').eq(0);
			if(usrname.text() == data.nickname+' says:'){

				$('.message-box').last().children('.message-text').append('<br />'+data.msg);
				
			} else{
				var now = new Date();
				$('.chats').append('<div class="chat-box"><div class="user"><img src="http://img.tweetimag.es/i/'+data.nickname+'" class="avatar"></div><div class="message-box"><span>'+now.getHours()+':'+now.getMinutes()+'</span><span class="username">'+data.nickname+' says:</span><div class="message-text">'+data.msg+'</div></div></div>');
			}
			$('.chats').scrollTop($('.chats').height());
		});
		
		socket.on('user leave',function(data){
			$('.chat-list li').each(function(k,v){
				if($(v).last().last().text() == data.nickname)
					$(v).remove();
			});
		});

		$("#msgbox").keypress(function(e) {
			if (e.which == 13) {
				socket.emit('my msg',{'msg': $(this).val(),'room_id':$('#room_id').text()});
				$(this).val('');
				return false;
			}
		});
	});

