.dropdown.dropdown-room
	i
	a.selected(href='#')= room.name
	.dropdown-options
		.triangle
		form(method="POST",action="/create")
			a.option.create-room(href='#') Create a room
			input.text(type='text', name='room_name', value='', placeholder='Name of your room', style='display: none')
		.list
			a.option.current(href='#')= room.name
			each r,index in rooms	 
				-if(r.key != room.key) {
					a.option(href="/"+r.key, title="#{r.name}")
						| #{r.name.substr(0,15)}
						span.dropdown-users-online
							| #{r.online}
				-}
// .dropdown-room 
