- var fullStatus = ['available', 'away', 'busy']
- var current;
.dropdown.dropdown-status
	i
	a.selected(class='#{user.status}', href='#')
		b
		| #{user.status}
	.dropdown-options
		.triangle
		.list
			- fullStatus.forEach(function(status) {
				- if (status == user.status)
					- current = 'current'
				- else
					- current = ''
				a(class='option status #{status} #{current}', data-status='#{status}', href='#')
					b
					| #{status}
					
			- })
			a(class='option logout', href='/logout') Sign Out
			
